@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-Black.woff2);
  font-weight: bold;
}

.page {
  margin: 0;
  font-family: "Inter";
  background: #2a2c2f;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1024px) {
  .page {
    padding: 28px 0 0 0;
  }
}

@media screen and (min-width: 768px) {
  .page {
    padding: 28px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 0 0 0;
  }
}


@media screen and (max-width: 320px) {
  .page {
    padding: 16px 0 0 0;
  }
}