.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 64px 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 92px 286px 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
  padding-left: 148px;
  padding-right: 442px;
  max-width: 1280px;
  }
}

@media screen and (min-width: 1281px) {
  .intro {
    margin: 0 auto;
    padding-left: 0;
    padding-right: calc(1280px - 984px);
    max-width: 690px;
  }
}