.cover {
  background-image: url(../../images/railway-station.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: #2a2c2f;
  transition: all 0.4s ease;
}

.cover:hover:after {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

@media screen and (min-width: 768px) {
  .cover {
    height: 100vh;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-left: 48px;
    margin-right: 48px;
  }
}